<header class="d-flex align-items-center">
  <img src="<%= @user.photo %>" class="rounded-circle" alt="profile_img" width="70" height="70">
  <div class="d-flex border border-1 ms-4 p-4 align-items-center col">
    <h1><%= @user.name %></h1>
    <p class="ms-auto">
    <span>Number of posts: </span>
    <span><%= @user.posts_counter || 0 %></span>
    </p>
  </div>
</header>