<div id="signout">
<% if user_signed_in? %>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <button type="button" class="btn btn-warning">Sign Out</button>
  <% end %>
<% end %>
</div>

<div class="container">
  <h1>Users</h1>

  <ul>
    <% @users.each do |user| %>
    <li class="d-flex p-2 text-white my-3 align-items-center" >
      <img src="<%= user.photo %>" class="rounded-circle" alt="profile_img" width="70" height="70">
      <div class="border border-1 ms-4 p-4 col">
        <h4><%= link_to user.name, user %></h4>
          <span class="text-success">Number of posts: <%= user.posts_counter || 0 %></span>
        </div>
      </li>
    <% end %>
  </ul>
</div>
