<header>
  <h1><%= @user.name %></h1>
  <hr/>
</header>

<section>
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
  <hr/>
</section>

<section>
  <h2>Recent Posts</h2>
  <div>
    <h3>Post 1</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolores maxime quos, nam mollitia
    aliquid iste at porro sunt consequatur.</p>
  </div>
  <div>
    <h3>Post 2</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolores maxime quos, nam mollitia
    aliquid iste at porro sunt consequatur.</p>
  </div>
  <div>
    <h3>Post 3</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolores maxime quos, nam mollitia
    aliquid iste at porro sunt consequatur.</p>
  </div>
  <button>See all posts</button>
</section>
