<header>
  <h1>Username</h1>
  <hr/>
</header>

<section>
  <h2>Recent Posts</h2>
  <div>
    <h3>Post 1</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolores maxime quos, nam mollitia
    aliquid iste at porro sunt consequatur.</p>
    <div>
      <p>Username: Comments 1</p>
      <p>Username: Comments 2</p>
      <p>Username: Comments 3</p>
    </div>
  </div>
  <div>
    <h3>Post 2</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolores maxime quos, nam mollitia
    aliquid iste at porro sunt consequatur.</p>
    <div>
    <p>Username: Comments 1</p>
    <p>Username: Comments 2</p>
    <p>Username: Comments 3</p>
  </div>
  </div>
  <button>Pagination</button>
</section>
